<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jdsystem.br.vendasmobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <supports-screens android:normalScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ctSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".actLogin"
            android:label="Força de Vendas"
            android:theme="@style/AppTheme">
            <action android:name="android.intent.action.MAIN" />
        </activity>
        <activity
            android:name=".act_ListClientes"
            android:label="Clientes"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".actListPedidos"
            android:label="Pedidos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".act_CadClientes"
            android:label="Cadastro de Clientes"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".actDadosCliente"
            android:label="Dados do Cliente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actSincronismo"
            android:label="Sincronização de Dados" />
        <activity android:name=".act_TH_contclie" />
        <activity android:name=".act_TH_dadosclie" />
        <activity android:name=".act_TH_obsclie" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ConfigWeb"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".act_ListProdutos"
            android:label="Catálogo de Produtos"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".actDadosProdutos" />
        <activity android:name=".actListClientPedidos" />
        <activity
            android:name=".act_ListClientesPedidos"
            android:label="Catálogo de Clientes" />
        <activity
            android:name=".Controller.Lista_clientes"
            android:label="Catálogo de Clientes"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Controller.VenderProdutos"
            android:label="Cadastrar Pedido"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Controller.Lista_produtos"
            android:label="Cadastrar Pedido"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Controller.ConfPagamento"
            android:label="Formas de Pagamento" />
        <activity
            android:name=".actFiltroPeriodoPedidos"
            android:label="Filtro por Emissão" />
        <activity
            android:name=".act_ListContatos"
            android:label="Lista de contatos"/>
        <activity android:name=".CadContatos"
            android:label="Cadastro de contatos">
        </activity>
    </application>

</manifest>